

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif !important;
}

mark {
  background-color: rgba(64, 64, 64, 0.82) !important;
  color: white !important;
}

.logo {
  padding-top: 15px;
  width: 70px;
}

.text-thin {
  font-weight: 200;
}

.text-bold {
  font-weight: 600;
}

.text-grey {
  color: #636363;
}

.text-washed {
  color: #929292;
}

.project-img {
  cursor: pointer;
}

.footer {
  margin: 2em 0 2em 0;
}

.header {
  margin-top: 1em;
}

span.proj-link {
  font-family: 'Raleway', sans-serif !important;
}

.proj-icon {
  font-size: 1.2em !important;
}

.social-icon {
  margin: 1em;
  font-size: 2em !important;
}

.caption1 {
  width: calc(100% - 30px);
  bottom: calc(50% - 1.5em);
  position: absolute;
  font-size: 1.5em;
}

.caption2 {
  width: calc(100% - 30px);
  bottom: calc(50% - 4em);
  position: absolute;
  font-size: 1.2em;
  margin-right: 3em;
  display: none;
}

.featured-title {
  border-bottom: 1px solid #ccc;
}

.article {
  margin-bottom: 3em;
}

.featured-work-title {
  margin-top: 15px;
  margin-bottom: 3px;
}

.modal-desc {
  margin-top: 20px;
}

.bottom-divider {
  width: 50%;
  border-color: #ddd;
}

/* breakpoints */
@media screen and (max-width: 400px) {
  .my-name {
    font-size: 22px !important;
  }

  .my-title {
    font-size: 14px !important;
  }

  .logo-cont {
    width: 100% !important;
    text-align: center !important;
  }

  .name-cont {
    width: 100% !important;
    text-align: center !important;
  }

  .caption2 {
    font-size: 1em;
  }

  .logo-container {
    width: 100% !important;
  }

  .name-container {
    width: 100% !important;
  }
}

@media screen and (max-width: 768px) {
  .my-name {
    font-size: 30px;
  }

  .my-title {
    font-size: 16px;
  }

  .caption1 {
    display: none;
  }

  .caption2 {
    display: block;
  }
}

@media screen and (max-width:992px) {
  .bottom-divider {
    width: 100%;
  }
}
